.example-spacer {
	flex: 1 1 auto;
}
.span {
  cursor: pointer;
}
li {
  list-style-type: none;
  margin-right: 30px;
  cursor: pointer;
}

li.mat-icon-text {
  display: flex !important;
  align-items: center;

  p {
    margin: 0px 0px 0px 4px !important;
  }
}

